<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Android Wear Watch Face Maker">
    <meta name="author" content="Steve Myers">
    <link rel="icon" href="favicon.ico">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/jquery-ui.min.css" rel="stylesheet">
    <title>FaceMaker</title>
</head>
<body ng-cloak>
<nav class="navbar navbar-default navbar-static-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar white-icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="images/ic_watch_white_48dp.png">FaceMaker</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="#">New</a></li>
        </ul>
    </div>
</nav>
<div class="container" flow-init="{target: '/'}" flow-name="flow">
    <div class="row">
        <div class="col-lg-3">
            <div class="card-container" ng-controller="LayerController">
                <h4 class="text-color-black card-header">Layers</h4>
                <div class="card layer-card" ng-hide="layers.length">
                    <div>
                        <h4>Nothing yet!</h4>
                    </div>
                </div>
                <div class="card layer-card" ng-show="layers.length">
                    <div ng-click="select($index)" class="layer-container" ng-repeat="layer in layers"
                         ng-class="{active: isSelected($index)}">
                        <h4>{{layer.type}}</h4>
                        <div class="close-container pull-right">
                            <a href ng-click="deleteLayer(layer)"><img src="images/icon-close.png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card-container">
                <h4 class="text-color-black card-header">Preview</h4>

                <div class="card canvas-card" ng-controller="CanvasController" flow-init flow-object="flow">
                    <canvas class="center-block" id="face-canvas" width="480" height="480" drawing></canvas>
                    There are already {{ flow.files.length }} files uploaded,
                </div>
            </div>
        </div>
        <div class="col-lg-3" ng-controller="SelectController as selectCtrl">
            <section>
                <div class="card-container">
                    <h4 class="text-color-black card-header">Shape</h4>

                    <div class="card">
                        <ul class="shape-list">
                            <li ng-repeat="shape in selectCtrl.shapes">
                                <a ng-click="selectCtrl.select(selectCtrl.TypeEnum.SHAPE, $index)" href>
                                <img ng-class="{active: selectCtrl.isSelected(selectCtrl.TypeEnum.SHAPE, $index)}"
                                     ng-src="images/{{shape}}"
                                     class="img-thumbnail"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-container">
                    <h4 class="text-color-black card-header">Text</h4>

                    <div class="card">
                    </div>
                </div>
                <div class="card-container">
                    <h4 class="text-color-black card-header">Images</h4>

                    <div class="card image-card">
                        <div
                             flow-files-submitted="$flow.upload()"
                             flow-file-success="$file.msg = $message">

                            <button flow-btn type="button" class="btn btn-default" aria-label="Left Align">Upload...
                            </button>
                            <div class="img-container" ng-repeat="file in $flow.files">
                                <a href ng-click="selectCtrl.select(selectCtrl.TypeEnum.IMAGE, $index)">
                                <img ng-class="{active: selectCtrl.isSelected(selectCtrl.TypeEnum.IMAGE, $index)}"
                                     class="img-thumbnail" flow-img="file"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
</body>

<script src="js/jquery-2.1.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jcanvas.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/facemaker-layer.js"></script>
<script src="js/facemaker-select.js"></script>
<script src="js/facemaker-canvas.js"></script>
<script src="js/facemaker-app.js"></script>
<script src="js/facemaker-model.js"></script>
<script src="js/facemaker-canvas-controller.js"></script>
<script src="js/ng-flow-standalone.min.js"></script>

</html>